
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --cor-fundo: #1E1E1E;
    --cor-icons: #
}
body{
    display: grid;
    grid-template-columns: min-content;
    background: url(https://raw.githubusercontent.com/alanlucascruz/web-comp-audio-player/main/assets/img/image.jpg);
    background-size: cover;
}

.barra-de-navegacao  i{
    color: aliceblue;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 27px;
    top: 23px;
    
}
.barra-de-navegacao h1{
    color: aliceblue;
    position: absolute;
    display: flex;
    font-size: 16px;
    left: 60px;
    top: 22px;
}
.menu i{
    color: aliceblue;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 361px;
    top: 28px;
}
.destaqui{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}
.box-des{
    margin-right: ;
    margin-left: 30px;
    background: #00a29436;
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: all .25;

}
.box-des img{
    position: relative;
    place-items: center;
    width: 375px;
    height: 496px;
    left: 2px;
    top: 60px;
    border-radius: 20px;
}
.box-des p{
  color: aliceblue;
  font-size: 20px;
}
.plays{
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
}
.play{
  margin-left: 30px;
    background: rgba(0, 116, 129, 0.306);
    padding: 55px 3px;
    border-radius: 40px;
    cursor: pointer;
    transition: all .25;
}
.plays img{
    position: absolute;
    width: 323px;
    height: 233px;
    left: 30px;
    top: 675px;
    border-radius: 30px;
}
.play__list h1{
    color: aliceblue;
    position: absolute;
    top: 19em;
    margin-left: 40px;
}
.conteudo{
    margin-top: 7.5rem;
    background: red;
    display: flex;
    width: 350px;
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    column-gap: 20px;
    border-radius: 30px;
}
.conteudo .card{
    scroll-snap-type: x mandatory;
    scroll-padding: 25px;
    column-gap: 20px;
    flex: 0 0 100%;
    padding: 40px;
    scroll-snap-align: start;
}

.slider {
    margin: 0 auto;
    max-width: 390px;
    margin-top: 10px;
  }
  
  .slide_viewer {
    border-radius: 30px;
    height: 340px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_part {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: url(https://picsum.photos/940/342) center no-repeat;
    /* i used images generator link */
  }
  
  .slide:nth-of-type(2) {
    background: url(https://picsum.photos/940/342) center no-repeat;
  }
  
  .slide:nth-of-type(3) {
    background: url(https://picsum.photos/940/342) center no-repeat;
  }

  
  .slide:nth-of-type(4) {
    background: url(https://picsum.photos/940/342) center no-repeat;
  }
  
  .slide:nth-of-type(5) {
    background: url(https://picsum.photos/940/342) center no-repeat;
  }
.artitas{
    margin-left: 10px;
    margin-top: 62em;
    position: absolute;
    width: 80%;
    height: 270px;
    left: 24px;
    overflow-y: scroll;
}
.art img{
  max-width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 30px;

}